<!DOCTYPE html>
<html lang="en">
<head>
<title>主界面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Inspire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="ACredit/jsIndex/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="ACredit/jsIndex/popup-box.css" rel="stylesheet" type="text/css" media="all" />

<link rel="stylesheet" href="ACredit/jsIndex/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="ACredit/jsIndex/chocolat.css" type="text/css" media="all">

<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<script src="ACredit/js/jquery-1.12.4.min.js"></script>
<script src="ACredit/jsIndex/bootstrap.js"></script>

	<script src="ACredit/jsIndex/modernizr.custom.97074.js"></script>
	<script src="ACredit/jsIndex/jquery.chocolat.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.gallery-grids a').Chocolat();
		});
	</script>
			<script type="text/javascript" src="ACredit/jsIndex/move-top.js"></script>
			<script type="text/javascript" src="ACredit/jsIndex/easing.js"></script>
			<script src="ACredit/js/jquery.cookie.js"></script>
			<script src="login.js"></script>
			<script src="index.js"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){
					event.preventDefault();
						$('html,body').animate({scrollTop: 1000}, 1000);
					});
			});
			</script>

	<script type="text/javascript">
		$(document).ready(function() {
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
	</script>
	<script src="ACredit/jsIndex/jquery.magnific-popup.js" type="text/javascript"></script>
<script type="text/javascript" src="ACredit/jsIndex/modernizr.custom.97074.js"></script>
	<script src="index.js"></script>
 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
</script>
</head>
<body>
	<!--header-->
	<div class="logo-navigation-w3layouts">
		<div class="container">
		<div class="logo-w3">
			<a href="index.html"><h1><img src="ACredit/images/logo.png"/><span>画手交易系统</span></h1></a>
		</div>
		<div class="navbar-collapse agileits w3layouts collapse hover-effect" id="navbar">
			<ul class="agileits w3layouts">
				<li class="agileits w3layouts"><a href="dynamic.html">画手交易论坛</a></li>
				<li class="agileits w3layouts"><a href="expertChat.html" id="sellDraw">画手买卖网</a></li>
				<li class="agileits w3layouts" id="buyMess"><a href="doctor/doctor.html">买家消息</a></li>
				<li class="agileits w3layouts"><a href="person/Person.html">个人中心</a></li>
				<li class="agileits w3layouts"><a href="login.html">退出登录</a></li>
			</ul>
		</div>		
		<div class="clearfix"></div>
		</div>
	</div>

	<!--body-->
	<div class="banner">
		<h3 style="font-size: 70px">画手交易系统</h3>
		<h2>欢迎您</h2>
		<div class="arrow">
			<a href="#contact" class="scroll"><img src="ACredit/images/arrow.png" alt=" " /></a>
		</div>
	</div>

	<!--about us-->
	<div class="about-w3-agile" id="about" style="margin-top:50px">
		<div class="container">
			<div class="wthree_about_grids">
				<div class="col-md-6 wthree_about_grid_left">
					<h3>关于画手论文</h3>
							<p>史树青.    从娄叡墓壁画看北齐画家手笔． 《 CNKI 》 ， 1983
                                <br> 尹文.    两江师范图画手工科与国立中央大学师范学院艺术学系年表． 《 艺术学界 》 ， 2010
                               <br> 阎安.    图画手工——新文化阶段中的艺术态度． 《 VIP 》 ， 2009

                               <br> 苏淼.    浅析绘画手法在影视动漫设计中的运用． 《 大众文艺 》 ， 2014

                               <br>关红实.    中国高等美木教育初创时期的几个特点——以"两江师范"图画手工科为例． 《 WanFang 》 ， 2008.</p>
				</div>
				

				<div class="col-md-6 wthree_about_grid_right">
					<img src="ACredit/images/11.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
	<!--联系我们-->
	<div class="contact-w3-agileits" id="contact">
		<div class="container">
			<div class="col-md-5 contact-left-w3ls">
				<h3>联系我们</h3>
				<div class="visit">
					<div class="col-md-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 contact-text-agileinf0">
						<h4>Visit us</h4>
						<h5>Parma Via Modena,BO, Italy</h5>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="mail">
					<div class="col-md-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 contact-text-agileinf0">
						<h4>Mail us</h4>
						<h5><a href="mailto:info@example.com">info@example.com</a></h5>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="call">
					<div class="col-md-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 contact-text-agileinf0">
						<h4>Call us</h4>
						<h5>+18044261149</h5>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="visit">
					<div class="col-md-2 contact-icon-wthree">
						<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					</div>
					<div class="col-md-10 contact-text-agileinf0">
						<h4>Work hours</h4>
						<h5>Mon-Sat 09:00 AM - 05:00PM</h5>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-7 contact-right-w3l">
				<h3>请留下您的宝贵意见</h3>
                <input type="text"  class="name" id="Name" placeholder="请输入名字" required="">
                <input type="text"  class="name" id="phone" placeholder="请输入电话" required="">
                <input type="text"  class="name" id="Time" placeholder="发表时间" required="">
                <input type="text"  class="name" id="Email" placeholder="请输入邮箱" required="">
                <textarea placeholder="您的宝贵意见" id="Content" required=""></textarea>
                <input type="button"  onclick="sendOpinion()" value="发送意见">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<div class="footer-w3l">		
	</div>
</body>
</html><script src="ACredit/layer/layer.js"></script>